.root {
  position: absolute;
  left: 0;
  top: 0;
  width: 400px;
  height: 77px;
  flex-direction: column;
  align-items: flex-start;
}
.rectangle3 {
  position: absolute;
  left: 0;
  right: 0;
  top: 10.3896%;
  bottom: 11.6883%;
  border-radius: 10px;
  background-color: #eaf0f7;
}
.unnamed {
  color: #667085;
  font-size: 26px;
  line-height: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 5%;
  right: 65.75%;
  top: 33.7662%;
  bottom: 35.0649%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.xIcon {
  position: absolute;
  left: 88%;
  right: 6%;
  top: 33.7662%;
  bottom: 35.0649%;
}
.icon {
  width: 100%;
  height: 100%;
}
