.button {
  color: #6d6d6d;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.button2 {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.hoverDropDown.hoverDropDown {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: initial;
  height: initial;
}
.state.state {
  height: 62px;
}
.hoverDropDown2.hoverDropDown2 {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: initial;
  height: initial;
}
.state2.state2 {
  height: 62px;
}
.hoverDropDown3.hoverDropDown3 {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: initial;
  height: initial;
}
.state3.state3 {
  height: 62px;
}
.hoverDropDown4.hoverDropDown4 {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: initial;
  height: initial;
}
.state4.state4 {
  height: 62px;
}
.zoomIn.zoomIn {
  left: 738px;
  top: 574px;
  width: 15px;
  height: 15px;
}
.icon {
  width: 100%;
  height: 100%;
}
.zoomOut.zoomOut {
  left: 684px;
  top: 574px;
  width: 15px;
  height: 15px;
}
.icon2 {
  width: 100%;
  height: 100%;
}
._100._100 {
  left: 707px;
  top: 569px;
}
.meniuSelectPages.meniuSelectPages {
  left: 278px;
  top: 261px;
}
.root {
  position: relative;
  width: 1440px;
  height: 882px;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}
.ellipse196 {
  position: absolute;
  left: 1332.4789px;
  top: 48px;
  width: 32px;
  height: 32px;
  overflow: visible;
  filter: drop-shadow(0px 17px 34px #0003);
}
.icon3 {
  width: 100%;
  height: 100%;
}
.image5 {
  position: absolute;
  left: 1318.4784px;
  top: 46px;
  width: 61px;
  height: 34px;
  background-image:/* webpackIgnore: true */ url('/assets/image5.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-mask-image:/* webpackIgnore: true */ url('/assets/maskGroup.svg');
  mask-image:/* webpackIgnore: true */ url('/assets/maskGroup.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: 15.000062942504883px 3px;
  mask-position: 15.000062942504883px 3px;
  -webkit-mask-size: 30px 30px;
  mask-size: 30px 30px;
}
.ellipse97 {
  position: absolute;
  left: 1354.4785px;
  top: 72px;
  width: 10px;
  height: 10px;
  overflow: visible;
}
.icon4 {
  width: 100%;
  height: 100%;
}
._1_logobachkhoatoi1 {
  position: absolute;
  right: 1318.4849px;
  bottom: 784px;
  width: 67.5151px;
  height: 68px;
  background-image:/* webpackIgnore: true */ url('/assets/_1_logobachkhoatoi1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.setProperties {
  position: absolute;
  left: 216px;
  top: 131px;
  width: 995px;
  height: 702px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 24px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0px 4px 6px 0px #0000000d, 0px 4px 50px 0px #00000014;
}
.left {
  position: absolute;
  left: 24px;
  top: 24px;
  width: 694px;
  height: 48px;
  flex-direction: column;
  gap: 2px;
}
.titleSection {
  color: #0b0b0b;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2px;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.desc {
  color: #6d6d6d;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: 20px;
  align-self: stretch;
  flex-direction: column;
}
.labelWrapper {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 100%;
}
.buttonsHere {
  position: absolute;
  left: 27px;
  top: 636px;
  width: 929px;
  height: min-content;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 16px;
}
.trang {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 62px;
  top: 192px;
  width: 372px;
  height: 47px;
  justify-content: center;
  flex-direction: column;
}
.soBanIn {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 62px;
  top: 553px;
  width: 76px;
  height: 47px;
  justify-content: center;
  flex-direction: column;
}
.indexOfPrintPages {
  position: absolute;
  left: 127px;
  top: 201px;
  width: 252px;
  height: 31px;
  outline: solid 1px #00000080;
  outline-offset: -1px;
  border-radius: 7px;
  background-color: #fff;
}
.indexOfPrintPages2 {
  position: absolute;
  left: 138px;
  top: 562px;
  width: 283px;
  height: 31px;
  outline: solid 1px #00000080;
  outline-offset: -1px;
  border-radius: 7px;
  background-color: #fff;
}
.meniuSelectPages2 {
  position: absolute;
  left: 63px;
  top: 248px;
  width: 364px;
  height: 62px;
  flex-direction: column;
  align-items: flex-start;
}
.desc2 {
  color: #6d6d6d;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 18.2796%;
  right: 0%;
  top: 51.6129%;
  bottom: 16.129%;
  flex-direction: column;
}
.labelWrapper2 {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 100%;
}
.tuyChonIn {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 18.2796%;
  right: 44.8925%;
  top: 16.129%;
  bottom: 35.4839%;
  flex-direction: column;
}
.vector2 {
  position: absolute;
  left: 92.2043%;
  right: 4.3011%;
  top: 45.1613%;
  bottom: 43.5484%;
  overflow: visible;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.meniuSelectPages3 {
  position: absolute;
  left: 62px;
  top: 326px;
  width: 364px;
  height: 62px;
  flex-direction: column;
  align-items: flex-start;
}
.desc3 {
  color: #6d6d6d;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 18.2796%;
  right: 0%;
  top: 51.6129%;
  bottom: 16.129%;
  flex-direction: column;
}
.labelWrapper3 {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 100%;
}
.khoGiay {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 18.2796%;
  right: 44.8925%;
  top: 16.129%;
  bottom: 35.4839%;
  flex-direction: column;
}
.vector22 {
  position: absolute;
  left: 92.2043%;
  right: 4.3011%;
  top: 45.1613%;
  bottom: 43.5484%;
  overflow: visible;
}
.icon6 {
  width: 100%;
  height: 100%;
}
.meniuSelectPages4 {
  position: absolute;
  left: 62px;
  top: 482px;
  width: 364px;
  height: 62px;
  flex-direction: column;
  align-items: flex-start;
}
.desc4 {
  color: #6d6d6d;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 18.2796%;
  right: 0%;
  top: 51.6129%;
  bottom: 16.129%;
  flex-direction: column;
}
.labelWrapper4 {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 100%;
}
.soTrangTrenMotTo {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 18.4066%;
  right: 28.5714%;
  top: 16.129%;
  bottom: 35.4839%;
  flex-direction: column;
}
.vector23 {
  position: absolute;
  left: 92.2043%;
  right: 4.3011%;
  top: 45.1613%;
  bottom: 43.5484%;
  overflow: visible;
}
.icon7 {
  width: 100%;
  height: 100%;
}
.meniuSelectPages5 {
  position: absolute;
  left: 62px;
  top: 404px;
  width: 364px;
  height: 62px;
  flex-direction: column;
  align-items: flex-start;
}
.desc5 {
  color: #6d6d6d;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 18.2796%;
  right: 0%;
  top: 51.6129%;
  bottom: 16.129%;
  flex-direction: column;
}
.labelWrapper5 {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 100%;
}
.caiAtLe {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 18.2796%;
  right: 44.8925%;
  top: 16.129%;
  bottom: 35.4839%;
  flex-direction: column;
}
.vector24 {
  position: absolute;
  left: 92.2043%;
  right: 4.3011%;
  top: 45.1613%;
  bottom: 43.5484%;
  overflow: visible;
}
.icon8 {
  width: 100%;
  height: 100%;
}
.rectangle34624341 {
  position: absolute;
  left: 481px;
  top: 90px;
  width: 475px;
  height: 521px;
  outline: solid 1px #d0d5dd;
  outline-offset: -1px;
  border-radius: 5px;
  background-color: #f2f2f2;
}
.rectangle34624342 {
  position: absolute;
  left: calc(50% - -221px);
  top: 569px;
  width: 85px;
  height: 25px;
  border-radius: 3px;
  background-color: #404040;
  transform: translateX(-50%);
}
._1002 {
  color: #fff;
  font-size: 8px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 707px;
  top: 569px;
  width: 25px;
  height: 25px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
