.hoverDropDown.hoverDropDown {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: initial;
  height: initial;
}
.root {
  position: absolute;
  left: 20px;
  top: 17px;
  width: 365px;
  height: 62px;
  flex-direction: column;
  align-items: flex-start;
}
.desc {
  color: #6d6d6d;
  font-size: 14px;
  line-height: 20px;
  font-family: Be Vietnam Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 18.2796%;
  right: 0;
  top: 51.6129%;
  bottom: 16.129%;
  height: min-content;
  flex-direction: column;
}
.labelWrapper {
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}
.trangIn {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: Be Vietnam Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 18.2796%;
  right: 44.8925%;
  top: 16.129%;
  bottom: 35.4839%;
  flex-direction: column;
}
.vector2 {
  position: absolute;
  left: 92.2043%;
  right: 4.3011%;
  top: 45.1613%;
  bottom: 43.5484%;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
