html,
body,
#root {
  height: 100vh; /* Ensures it takes up the full height of the viewport */
  width: 100vw;
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-basis: 100%;
  width: 100%;
  overflow: hidden;
}

#root {
  height: 100vh; /* Ensures it takes up the full height of the viewport */
  width: 100vw;
  position: relative;
}

body button:not(:disabled) {
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

body label {
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}
